.article {
  margin-bottom: 40px;

  .article__wrapper {
    display: flex;
    align-items: center;
  }

  .article__image {
    width: 50%;
    display: block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $light-gray;
    /* hover opacity removed so image doesn't change color on hover */

    &:after {
      content: "";
      display: table;
      width: 100%;
      padding-bottom: 48%;
    }
  }

  .article__content {
    width: 60%;
    padding: 20px;
    margin-left: -8%;
    z-index: 1;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.98);
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);

    .article__tag {
      font-size: 12px;
      letter-spacing: 0.5px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .article__title {
      margin-bottom: 10px;
      font-size: 30px;
      
      a {
        color: $black;
        &:hover {
          color: $black;
        }
      }
    }

    .article__authors {
      margin-bottom: 12px;
      font-size: 15px;
      color: $dark;
      font-weight: 600;
      line-height: 1.2;
    }
      .article__authors {
        .article__author {
          color: $dark;
          text-decoration: none;
          font-weight: 600;
        }

        .article__author-sep {
          color: $gray;
        }

        a.article__author:hover {
          text-decoration: underline;
        }
      }

    .article__excerpt {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 26px;
    }

    .article__meta {
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: $gray;
    }

    .article__footer {
      display: flex;
      align-items: center;
      flex-wrap: wrap; // allow venue and links to stack

      .pub-venue {
        display: block;
        width: 100%;
        font-size: 17px;
        color: $dark;
        font-weight: 700;
        margin-bottom: 4px;
      }

      .pub-links {
        display: flex;
        width: 100%;
        gap: 10px;
      }

      .pub-link {
        color: $brand-color;
        text-decoration: none;
        font-size: 15px;
        &:hover {
          color: darken($brand-color, 10%);
        }
      }
    }
  }

  .article-without-image {
    width: 100%;
    margin-left: auto;
  }

  @media only screen and (max-width: $tablet) {
    .article__wrapper {
      flex-direction: column;
    }

    .article__image {
      width: 100%;
    }

    .article__content {
      width: 90%;
      padding: 20px;
      margin: -10% 0 0 0;
    }

    .article-without-image {
      width: 90%;
      margin: 0;
    }
  }

  @media only screen and (max-width: $mobile) {
    .article__content {

      .article__title {
        font-size: 27px;
      }
    }
  }
}