{% assign without-image = nil %}
<!-- begin article -->
<div class="article">
  <div class="container">

    <div class="article__wrapper">

        {% if post.image %}
          <div class="article__image" style="background-image: url({{site.baseurl}}/images/{{post.image}})"></div>
        {% else %}
          {% assign without-image = 'article-without-image' %}
        {% endif %}

        <div class="article__content {{ without-image }}">
          <div class="article-tags">
          {% if post.tags.size >= 1 %}
            <div class="article-tags__box">
              {% for tag in post.tags %}
                <span class="article__tag">{{ tag }}</span>
              {% endfor %}
            </div>
          {% else %}
          {% endif %}
          </div>
      
          <h2 class="article__title">{{ post.title }}</h2>
      
          <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 250 }}{% endif %}</p>
          
          <div class="article__footer">
            <div class="pub-venue">{% if post.venue %}{{ post.venue }}{% endif %}</div>
            <div class="pub-links">
              {% if post.paper %}
                <a href="{{ post.paper }}" class="pub-link" target="_blank" rel="noopener noreferrer">[Paper]</a>
              {% endif %}
              {% if post.code %}
                <a href="{{ post.code }}" class="pub-link" target="_blank" rel="noopener noreferrer">[Code]</a>
              {% endif %}
              {% if post.video %}
                <a href="{{ post.video }}" class="pub-link" target="_blank" rel="noopener noreferrer">[Video]</a>
              {% endif %}
            </div>
          </div>

        </div>

      </div>
      
  </div>
</div>
<!-- end article -->